body {
	font-family: Trebuchet MS;
}	
a {
	color: #00428F;
}
h1{
	
	margin-top: 24px;
	padding: 4px;
	position: relative;
	font-size: 20px;
	font-family: georgia;
	margin: 0px;
}
img {
	width: 190px;
	height: 150px;
	padding: 5px 5px 0px 5px;
}

#menu {
	float: right;
	position: absolute;
	top: 12px;   /* Move menu here */
	right: 40px;
	padding:0px;
	margin: 4px;
} 
#lists {
	float:left;
	border-bottom: 1px #ccc solid;
	border-right: 1px #ccc solid;
	position: relative;
	margin: 0px 20px 15px 0px;
	width: 346px;
	padding: 10px 0px 120px 0px;
	background-color: #eee;
	font-size: 15px;
}
#story {
	top: 83px;
	font-size: 14px;
	float:left;
	padding-right:0px;
}
#menu li {
	display:inline;
	font-weight: bold;
	font-size: 15px;
}
#header {
	border-bottom: 1px #ccc solid;
	padding-bottom: 0px;
}
#sublist-title {
	color: white;
	background-color: #ad2121;
	border-top: 1px #790101 solid;
	font-style: italic;
	border-bottom: 1px #790101 solid;
}
#image {
	float: right;
	color: #333;
	font-size: 13px;
	background-color: #eee;
	border: 1px #ccc solid;
	margin: 35px 20px 0px 20px;
	text-align: center;
	height:180px;
}
#txt-align {
	text-align:center;
}
#first-list, #second-list {
	padding-left:5px;
	margin:0px;
	list-style-type:none; 
}
#sublist {
	padding-left:15px;
	margin:0px;
	list-style-type:none; 
}
#first-list {
	padding-top:5px;
}
#note{
	margin:1px;
}
#footer {
	clear:both;
}
#footer p {
	color: #999;
	text-align:center;
	padding-top: 4px;
	border-top: 1px #ccc solid;
	width: 500px;
	margin-left:280px;
}
#footer a {
	color:#99c;
}
.Upper-Case {
	font-size: 25px;
	letter-spacing: 1px;
	font-weight: bold;





	



