h1 {
	color:#19666E;
	text-align: center;
	border-bottom: 1px solid #ccc;
	margin-top: 10px;
	padding-bottom:10px;
	padding-top : 15px;
	}
	#footer {
	padding-right: 160px;
	height: 105px;
	text-align:center;
	position: absolute;
	left: 50%;
	width: 981px;
	margin-left: -495px;
}
#footer.p {
	padding-bottom: 0px;
	border-bottom: 1px solid #ccc;
	margin-right: 0px;
	margin-left: 0px;
}
}
body {
	background-color : white;
	font-style : italic;
}
h2 {
	font-size : 19px;
}
form {
	color : #aaa;
} 
input {
	background-color : #ccc;
}
#description {
	text-align : center; 
	margin-bottom : 55px;
}
#register {
	float : left ;
	border-right : 1px solid #ccc; 
	padding-right : 35px;
	margin-left : 20px;
	padding-bottom : 40px;
}
#sign_in {
	float : right ;
	padding-right : 50px;
}
#name {
	margin-left : 42px;
}
#surname {
	margin-left : 22px;
}
#age {
	margin-left : 56px;
}
#email {
	margin-left : 42px;
}
#username {
	margin-left : 48px;
}
#password {
	margin-left : 49px;
}
#submit {
	margin-left : 50%;
	margin-top : 35px;
}
#username2 {
	margin-left : 47px; 
}
#password2 {
	margin-left : 54px;
}
#submit2 {
	margin-top : 35px; 
	margin-left : 50%;
}
#footer {
	padding : 10px;
	border-top : 1px solid #ccc;
	clear : both;
	padding-top : 15px;
	bottom : 10px;
	margin-top : 25px;
	position : absolute;
}
#footer p {
	text-align : center;
}
#forms p, a { 
	text-align : center;
	color :  black;
}

#lists_ref {
	text-align : center;
	color :  #93C763;
}
.uploaded {
	border : 1px solid #black;
}
.index-forms p {
	margin : 0px;
	padding : 0px;
}
#bth {
	margin-left : 40px;
}
